nav {
  display: block;
  border: 1px solid rosybrown;
  height: 55px;
}
nav li {
  float: left;
  margin-right: 30px;
  list-style: none;
}
main {
  margin:20px;
}

.cart {
  float: right;
  margin-right:20px;
}